.list {
    display: flex;
    gap: 5px;
    margin-top: 10px;

    button {
        transition: all 250ms linear;
    }

    button:hover {
        background-color: gray;
    }
}

.button {
    background-color: #e1dede;
    padding: 10px 20px;
    border-radius: 12px;
}